* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    /* Variables de los colores */
    --color-primario: #1B2430;
    --color-secundario: #39A388;
    --blanco: #ffffff;
    --negro: #000;
    --gris-0: #f8f8f8;
    --gris-1: #dbe1e8;
    --gris-2: #b2becd;
    --gris-3: #6c7983;
    --gris-4: #454e56;
    --gris-5: #2a2e35;
    --gris-6: #12181b;
    --border-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0 0 0 .3);
}


/*----- Light-mode -----*/
.light-mode {
    /* Variables de los colores */
    --color-primario: #E8F6EF;
    --color-secundario: #4CACBC;
    --blanco: #00416D;
    --negro: #ffe194;
    --gris-0: #f8f8f8;
    --gris-1: #6c7983;
    --gris-2: #0f2237;
    --gris-3: #6c7983;
    --gris-4: #ffe194;
    --gris-5: #ADD8E6;
    --gris-6: #ffe194;
    --border-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0 0 0 .3);
}


body {
    background-color: var(--color-primario);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--blanco);

    /* Transicion */
    transition: all .4 ease-in-out;
}

/* Enlaces */
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
   //font-family: inhertit;
}

header {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--blanco);
    overflow: hidden;
}

section {
    min-height: 100vh;/*Ocupara el 100% del alto de la ventana*/
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section {
    /* Para que se "salga" de la pantalla */
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primario);
}

/* SECCION 1 */
.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

/* SECCION 2 */
.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

/* SECCION 3 */
.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

/* SECCION 4 */
.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

/* SECCION 5 */
.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

.active {
    //Displays the elements that has this class
    display: block;
    
    //Animation
    animation: scaleAnim 1s ease-in-out;
    //Creating a customized animation
    @keyframes scaleAnim {
        0%{
            transform: translateY(-100%) scaleY(0);
        }
        100%{
            transform: translateY(0) scaleY(1);
        }
    }
    
}

/* CONTROLS */
.controlls {
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    /* For the active button */
    .active-button {
        background-color: var(--color-secundario) !important;
        transition: all .4s ease-in-out;
        i {
            color: var(--blanco) !important;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--gris-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
    }

    /* Iconos */
    i {
        font-size: 1.2rem;
        color: var(--gris-2);
        pointer-events: none;
    }
}

/* Theme button */
.theme-button {
    //Location of the button
    top: 5%;
    right: 3%;
    position: fixed;

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--gris-4);
    cursor: pointer;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .2s ease-in-out;
    
    //To center the icon in the div
    display: flex;
    justify-content: center;
    align-items: center;

    //Action when the div is clicked
    &:active {

        //To make a movement of going up when is pressed
        transform: translateY(-5px);
    }

    i {
        font-size: 1.4rem;
        color: var(--gris-2);
        pointer-events: none;
    }

}

/*------ Header-content -----*/
.header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;

    //Image
    .left-header {
        //To center the image
        display: flex;
        align-items: center;
        position: relative;
        .header-shape {
            transition: all .4s ease-in-out;
            width: 75%;
            height: 100%;
            background-color: var(--color-secundario);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;//To be behind the hero image 
            
            //Para formar el la figura
            clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
        }
        .image {
            border-radius: var(--border-sm-2);
            height: 90%;
            width: 68%;
            margin-left: 4rem;
            background-color: var(--negro);
            transition: all .4s ease-in-out;
            
            display: flex;
            align-items: center;//Alinear verticalmente
            justify-content: center;//Alinear horizontalmente
            img{
                border-radius: var(--border-sm-2);
                width: 95%;    
                height: 95%;
                object-fit: cover;
                transition: all .4s ease-in-out;
                filter: grayscale(100%);
                &:hover {
                    filter: grayscale(0);
                }
            }
        }
        
    }

    //Text
    .right-header {
        display: flex;
        flex-direction: column;
        justify-content: center;//Centrar verticalmente
        padding-right: 18rem;
        .name{
            font-size: 3rem;
            span {
                color: var(--color-secundario);
            }
        }
        p {
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

/*----- About -----*/
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;

    .right-about {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .about-item {
            border: 1px solid var(--gris-5);
            border-radius: 5px;
            transition: all .4s ease-in-out;
            box-shadow: 1px 2px 15px rgba(0, 0, 0, .1);
            &:hover {
                cursor: default;//Para no poder usar el selector de mouse de texto
                transform: translateY(-5px);//Para que se eleve el recuadro
                border: 1px solid var(--color-secundario);
                box-shadow: 1px 4px 15px rgba(0,0,0,.32);
            }

            .about-text {
                padding: 1.5rem;
                display: flex;
                flex-direction: column;
                .large-text {
                    font-size: 3rem;
                    font-weight: 700;
                    color: var(--color-secundario);
                }
                .small-text {
                    padding-left: 3rem;
                    position: relative;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: var(--gris-1);
                    letter-spacing: 2px;

                    //Para colocar la linea gris a la izquierda del texto pequeno
                    &::before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 15px;
                        width: 2rem;
                        height: 2px;
                        background-color: var(--gris-5);
                    }
                }
            }
        }
    }

    .left-about {
        padding-right: 5rem;
        p {
            line-height: 2rem;
            padding: 1rem;
            color: var(--gris-1);
        }
        h4 {
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats {
    padding-bottom: 4rem;
    //Barras de progreso
    .progress-bars {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;

        .progress-bar {
            display: flex;
            flex-direction: column;
            .progress-title {
                text-transform: uppercase;
                font-weight: 500;
            }
            .progress-container {
                display: flex;
                align-items: center;
                .progress-text {
                    color: var(--gris-2);
                }

                // Barra de progreso
                .progress {
                    width: 100%;
                    height: .45rem;
                    background-color: var(--gris-4);
                    margin-left: 1rem;
                    position: relative;
                    border-radius: 5rem;
                    
                    //En el span va el progreso
                    span {
                        position: absolute;//Para que esté encima de la barra gris
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secundario);
                        transition: all .4s ease-in-out;
                        border-radius: 5rem;
                    }

                    //Barra de progreso para Java
                    .java {
                        //Progreso: 85% 
                        width: 85%;
                    }
                    .cpp {
                        //Progreso: 70%
                        width: 70%;
                    }
                    .c {
                        //Progreso: 60%
                        width: 60%;
                    }
                    .haskell {
                        //Progreso: 50%
                        width: 50%;
                    }
                    .html {
                        //Progreso: 75%
                        width: 75%;
                    }
                    .css {
                        //Progreso: 65%
                        width: 65%;
                    }
                    .uml {
                        //Progreso: 70%
                        width: 70%;
                    }
                    .xml {
                        //Progreso: 60%
                        width: 60%;
                    }
                    .linux {
                        //Progreso: 80% 
                        width: 80%;
                    }
                    .git {
                        //Progreso: 70%
                        width: 70%;
                    }

                }
            }
        }
    }

}
//My skills title
.stat-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    
    //Para poner una linea encima de My skills
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--gris-5);
        transform: translateX(-50%);
    }
}
/* Timeline */
.timeline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item {
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--gris-5);
        
        //Icono del malitin en el Timeline
        .timeline-icon {
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secundario);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            //Para centrar el icono en el circulo 
            display: flex;
            align-items: center;
            justify-content: center;

            i{
                font-size: 1.3rem;
            }
        }

        .timeline-duration {
            padding: .2rem .6rem;
            background-color: var(--gris-5);
            border-radius: 15px;
            //Para ajustar el ovalo
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;
        }
        
        h5 {
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 600;
            span {
                color: var(--gris-2);
                font-weight: 500;
                font-size: 1.2rem;
            }
        }

        p {
            color: var(--gris-2);
        }
    }
}

/*----- Portfolio -----*/
.portfolio-text {
    padding: 2rem 0;
    text-align: center;
}
.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    .portfolio-item {
        position: relative;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;//Para que ocupar todo el espacio del div portfolio-item
            border-radius: 15px;
        }
        
        //Recuadro verde
        .hover-items {
            width: 100%;
            height: 100%;
            background-color: var(--color-secundario);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;

            //Para centrar el contenido dentro del recuadro verde
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        
            //Para mostrar la imagen
            opacity: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;

            h3 {
                font-size: 1.5rem;
                color: var(--blanco);
                margin-bottom: 1.5rem;
            }
            .icons {
                display: flex;
                justify-content: center;
                align-items: center;
                .icon {
                    background-color: var(--color-primario);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    
                    //Acomodar los iconos dentro de los circulos
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i {
                        font-size: 1.5rem;
                        color: var(--blanco);
                        margin: 0 1rem;
                    }

                    //Cambiar el color al pasar el cursor por el icono
                    &:hover {
                        background-color: var(--blanco);
                        i {
                            color: var(--color-primario);
                        }
                    }
                }

            }
        }
    }
}

//Para ocultar la imagen y mostrar el recuadro verde al pasar el cursor sobre la imagen
.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);//Para que aparezca el recuadro como si saliera de la imagen
}


/*----- Blogs Section -----*/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 3rem;

    .blog {
        position: relative;
        background-color: var(--gris-5);
        border-radius: 5px;
        box-shadow: 1px 1px 20px rgba(0,0,0,.1);
        transition: all .4s ease-in-out;
        
        &:hover {
            box-shadow: 1px 1px 20px rgba(0,0,0,.8);//Aumenta la opacidad
            transform: translateY(-5px);//Elevar el recuadro 5 pixeles
            transition: all .4s ease-in-out;

            img {
                filter: grayscale(0);
                transform: scale(1.1);//Agrandar la imagen
                box-shadow: 0px 4px 20px rgba(0,0,0,1);
            }
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: fill;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            //Imagen gris
            filter: grayscale(100%);
            transition: all .4s ease-in-out;
        }

        .blog-text {
            margin-top: -7px;
            padding: 1.1rem;
            border-top: 8px solid var(--color-secundario);
            
            h4 {
                font-size: 1.5rem;
                margin-bottom: .7rem;
                transition: all .4s ease-in-out;
                cursor: pointer;

                //Cambiar el color del encabezado
                &:hover {
                    color: var(--color-secundario);
                }
            }

            p {
                color: var(--gris-2);
                line-height: 2rem;
                padding-bottom: 1rem;
            }
        }
    }
}


/*----- Contact Section -----*/
.contact-content-container {
    display: flex;
    padding-top: 3.5rem;

    .left-contact {
        flex: 2;

        h4 {
            margin-top: 1rem;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            margin: 1rem 0;
            line-height: 2rem;
        }

        .contact-info {
            .contact-item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                p {
                    margin: .3rem 0 !important;
                    padding: 0 !important;
                }

                .icon {
                    display: grid;
                    grid-template-columns: 40px 1fr;//40 pixeles para la primer columna, el icono

                    i {
                        display: flex;
                        align-items: center;
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }

    .contact-icons {
        display: flex;
        margin-top: 2rem;

        a {
            display: flex;
            align-items: center;
            color: var(--blanco);
            background-color: var(--gris-5);
            cursor: pointer;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 .4rem;
            transition: all .4s ease-in-out;

            &:hover {
                background-color: var(--color-secundario);

                i {
                    color: var(--color-primario);
                }
            }

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
            }

        }
    }

    .right-contact {
        flex: 3;//Para que ocupe más espacio el lado derecho
        margin-left: 3rem;

        .input-control {
            margin: 1.5rem 0;
            input, textarea {
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--gris-4);
                width: 100%;
                color: var(--blanco);
                resize: none;
            }
        }

        .input-control-2 {
            display: flex;

            //Para que SOLO el input de email se separe del de nombre
            :last-child {
                margin-left: 1.5rem;
            }
        }

        .submit-button {
            display: flex;
            justify-content: flex-start;
        }
    }
}



/*----- Componentes Independientes -----*/
.main-button {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secundario);
    display: flex;
    align-items: center;
    overflow: hidden;
    .button-text {
        padding: 0 2rem;
    }
    .button-icon {
        background-color: var(--color-secundario);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }

    //Para hacer el efecto de "llenado" en el boton al pasar el mouse
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);//Si es con un '-' va al lado contrario
        transition: all .4s ease-in-out;
        z-index: -1;
    }
    &:hover {
        transition: all .4s ease-in-out;
        &::before {
            width: 100%;
            height: 100%;
            background-color: var(--color-secundario);
            transform: translateX(0);
            transition: all .4s ease-in-out;
        }
    }

}
//Acomoda el boton
.button-container {
    display: flex;
    align-self: flex-start;
}

.form-button {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secundario);
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-primario);
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1.1rem;

    &:hover {
        transition: all .4s ease-in-out;
        background-color: var(--color-secundario);
        transform: translateX(0);
        
    }
}

.main-title {
    text-align: center;
    h2 {
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        
        span {
            color: var(--color-secundario);
        }

        .bg-text {
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--gris-5);
            transition: all .4s ease-in-out;
            z-index: -1;//To be behind the text
            transform: translate(-50%, -50%);
            font-weight: 800;
            font-size: 6.3rem;
        }
    }
}


/* Media queries */
@import './media';